

<p>
  <a class="btn btn-primary" href="/add_brands">Add a Shoe Brand</a>
  <a class="btn btn-info" href="/add_stores">Add a Shoe Store</a>
  <a class="btn btn-success" href="/view_brands">View Shoe Brands</a>
  <a class="btn btn-warning" href="/view_stores">View Shoe Stores</a>
</p>
